
<div class="container py-5">
<h1> About Us</h1>
<div class="container py-5">
    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam voluptas nemo ipsum, quibusdam nisi explicabo</h3>
</div>
<div class="container py-2">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi non nam vitae incidunt quaerat a nisi dolorum optio facilis voluptatum tempora ab quisquam commodi minus, omnis soluta quos itaque asperiores!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi non nam vitae
    </p> 
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi non nam vitae incidunt quaerat a nisi dolorum optio facilis voluptatum tempora ab quisquam commodi minus, omnis soluta quos itaque asperiores!
        Lorem ipsum dolor sitrrrr amet consectetur adipisicing elit. Quasi non nam vitae
    </p> 
</div>
<div  class="container py-2">
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque blanditiis iure accusamus excepturi voluptate placeat quas, repellendus assumenda iusto enim aperiam corporis minus fugit, cupiditate sapiente, odio distinctio fugiat recusandae.
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque blanditiis iure accusamus excepturi voluptate placeat quas, repellendus assumenda iusto enim aperiam corporis minus fugit, cupiditate sapiente, odio distinctio fugiat recusandae.
    </p>
</div>

</div>

