
<div class="container  py-5">
    <form>
        <div class="row">
            <label for="inputFirst" class="form-label">First name</label>
            <input type="text" class="form-control" id="inputFirst"  aria-label="First name">
        </div>
        <div class="row">
            <label for="inputlast" class="form-label">Last name</label>
          <input type="text" class="form-control" id="inputlast" aria-label="Last name">
        </div>
        <div class="row">
        <label for="inputEmail4" class="form-label">Email</label>
        <input type="email" class="form-control" id="inputEmail4">
        </div>
        <div class="row">
        <label for="floatingTextarea" class="form-label">Message</label>
        <textarea class="form-control" placeholder="write your message here" id="floatingTextarea"></textarea>
        </div>
        <div class="row py-5">
        <button class="btn btn-primary " type="submit">Submit </button>
      </div>
    </form>
</div>

