<div class="container-fluid">
    <main>

        <section class=" text-center container">
          <div class="row ">
            <div class="col-lg-6 col-md-8 mx-auto">
              <h1>Movies List</h1>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat debitis eveniet itaque recusandae modi omnis laborum dolores neque. Quae sapiente fuga doloribus praesentium repudiandae. Tenetur, nobis iste? Nam, totam libero.</p>
            </div>
          </div>
        </section>
      
        <div class="album py-4 bg-light">
          <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
              <div class="col">
                <div class="card ">
                  <svg class="bd-placeholder-img card-img-top" width="100%" height="225"  role="img" aria-label="Placeholder: Thumbnail"  focusable="false"><rect width="100%" height="100%" fill="#55595c"/></svg>
                  <div class="card-body">
                    <h5 class="card-title">Le Seigneur des anneaux</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis commodi saepe non Perferendis commodi saepe non.</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Delete</button>
                      </div>
                     
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card shadow-sm">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225"  role="img" aria-label="Placeholder: Thumbnail"  focusable="false"><rect width="100%" height="100%" fill="#55595c"/></svg>
                  <div class="card-body">
                    <h5 class="card-title">John Wick Parabellum</h5>
                    <p class="card-text"> dolores facere voluptatum provident nisi laborum explicabo, voluptas expedita. Culpa, saepe facilis. Labore placeat quasi corrupti deleniti fugit Th lone.</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Delete</button>
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card shadow-sm">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225"  role="img" aria-label="Placeholder: Thumbnail"  focusable="false"><rect width="100%" height="100%" fill="#55595c"/></svg>
                  <div class="card-body">
                    <h5 class="card-title">Forrest Gump</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam veritatis, a officiis, ex repellat sapiente amet dignissimos, eum enim velit corporis?</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group ">
                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Delete</button>
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>
      
            </div>
          </div>
        </div>
      
      </main>
</div>
